.header{
    min-height: 250px;
    min-width: 500px;
    background-image: url("https://cdn.pixabay.com/photo/2018/09/21/15/06/notepad-3693309_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}

.h2_1{
    font-size: 70px;
    font-style: oblique;
    margin-left: 20px;
    padding: 2%;
   
}

.h2_2{
    font-size: 45px;
    font-style: oblique;
    margin-left: 30px;
    
}